
<form action="/classes/<%= @gym_classes.id %>"method="post">


<label for="price">Cost:</label>
<input type="integer" value="<%= @gym_classes.price %>" name="price" id="price">

<label for="classes">Select Class</label>
<select id="pizza-select" name="class_name">
  <option <%= @gym_classes.class_name == 'Spin' ? 'selected' : '' %> value="Spin">Spin</option>
  <option <%= @gym_classes.class_name == 'Body Pump' ? 'selected' : '' %> value="Body Pump">Body Pump</option>
  <option <%= @gym_classes.class_name == 'Zumba' ? 'selected' : '' %> value="Zumba">Zumba</option>
  </select>



  <input type="submit" value="Join Class">



</form>
